* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0px;
    height: 100vh;
    padding: 30px;
}

main, #conteudo, #coluna1, #coluna2, #primeira_linha_coluna1, #primeira_linha_coluna2{
    gap: 30px;
}

div, aside{
    border-radius: 30px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 20% 1fr;  /* Para os 20% + 80% + 30px de gap não dar rolagem de tela, deixar 20% + 1fr, assim a segunda coluna ocupa o restante do espaço disponivel sem estourar a tela */
    height: 100%;
}

aside{
    height: 100%;
}

#conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#coluna1{
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    min-height: 0;
}

#primeira_linha_coluna1{
   background-color: rgb(117, 117, 117); 
}

#segunda_linha_coluna1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#segunda_linha_coluna1 div{
    display: flex;
    flex-direction: column;
    background-color: rgb(117, 117, 117);
    gap: 20px;
}

#primeira_linha_coluna1 h2, #segunda_linha_coluna1 h2{
    text-align: left;
    padding-left: 30px;
    margin: 20px 0px 0px;
}

#primeira_linha_coluna1 p, #segunda_linha_coluna1 p{
    text-align: left;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 20px;
}

#coluna2{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    min-height: 0;
}

#primeira_linha_coluna2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#bloco1_coluna2, #bloco2_coluna2{
    padding: 10px;
    background-color: rgb(124, 124, 124);
}
#bloco1_coluna2 h2, #bloco2_coluna2 h2{
    padding-left: 10px;
    margin: 0px;
    text-align: left;
}

#segunda_linha_coluna2{
    background-color: rgb(114, 114, 114);
}

#conteudo,
#coluna1,
#coluna2,
#primeira_linha_coluna2,
#segunda_linha_coluna2,
#terceira_linha_coluna2{
    min-height: 0;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

#terceira_linha_coluna1,
#terceira_linha_coluna2{
    min-height: 0;
    overflow: hidden;
    background-color: rgb(124, 124, 124);
    padding: 0px 20px;
}