*{
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    align-items: center;
    background-color: #141122;
    background: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.541) 100%),url(../imagens/fundo_opcoes.png);
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    gap: 100px;
}

/*Div do conteudo principal*/
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    height: auto;
    width: 35%;
    min-width: 350px;
    border: 1px solid rgba(37, 37, 37, 0.24);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(37, 37, 37, 0.781);
}

main h1{
    margin: 70px 30px 50px;
    font-size: 46px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 0px 5px #1e1a33;
}

/*Transição da troca entre telas*/
#conteudo {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*Transição da troca entre telas*/
#conteudo.saindo {
    opacity: 0;
    transform: translateY(5px);
}

/*Botao de começar na primeira tela*/
#botao_comecar{
    width: 70%;
    min-height: 70px;
    padding: 10px 20px;
    margin: 20px 0px 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    transition: 200ms;
    font-size: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 0px 8px #241f3d83;
}

#botao_comecar:hover{
    background-color: #141122;
    border-color: #141122;
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
}

#botao_comecar:focus{
    background-color: #2724317c;
    border-color: #17151db6;
    color: white;
}

/*Div das respostas para as perguntas de cada tela*/
.opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

/*Botao de cada resposta*/
.opcoes button{
    width: 80%;
    min-height: 70px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    transition: 200ms;
    font-size: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 0px 8px #241f3d83;
}

.opcoes button:hover{
    background-color: #141122;
    border-color: #141122;
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
}

.opcoes button:focus{
    background-color: #2724317c;
    border-color: #17151db6;
    color: white;
}